!!! 5
%head
  %title War is not Hell

  %meta{:content=>"SCA, war, boffer, LARP, Dungeons and Dragons, heavy weapons, archery, medieval reenactment", :name=>"keywords"}
  %meta{:content=>"Share the dream of medieval war.", :name=>"description"}
  %script{:type=>"text/javascript", :src=>"javascript/jquery-1.4.2.min.js"}
  %script{:type=>"text/javascript", :src=>"javascript/application.js"}
  %link{:rel=>"stylesheet", :href=>"blueprint/screen.css", :type=>"text/css", :media=>"screen"}
  %link{:rel=>"stylesheet", :href=>"screen.css", :type=>"text/css", :media=>"screen"}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Oswald', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Allerta+Stencil', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Just+Another+Hand', :rel=>'stylesheet', :type=>'text/css'}
%body
  .container
    .launching_soon
      %h2 We're working hard to launch as soon as possible!
    #banner
      %h1 War is not Hell!
      %h3.tagline 
        %p Share the dream of medieval war.
    .span-1
      &nbsp;
    #inner.span-22
      #middle
        %hr
        .span-22.last
          .main_description.span-11
            %p
              Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          .span-11.last
            .signup_form
              :erb
                <a href="https://tammersaleh.wufoo.com/forms/r7x3s5/" onclick="window.open(this.href,  null, 'height=242, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Be the first to join War is not Hell!">Sign up to be invited to the private beta!</a>
      #features
        %hr
        #feature_map.feature.span-11
          .inner
            %h3.title
              Cool feature #1!
            %p.description
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

        #feature_hardcopy.feature.span-11.last
          .inner
            %h3.title
              Another cool feature!
            %p.description
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

        #feature_discuss.feature.span-11
          .inner
            %h3.title
              This feature is alright.
            %p.description
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

        #feature_share.feature.span-11.last
          .inner
            %h3.title
              This feature is the best!
            %p.description
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

      #footer
        %hr
        &copy; 2011 
        Tammer Saleh
    .span-1.last
      &nbsp;
  :erb
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e542ceaf5a1f572b3000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    
