!!! 5
%head
  %title War is not Hell

  %meta{:content=>"SCA, war, boffer, LARP, Dungeons and Dragons, heavy weapons, archery, medieval reenactment", :name=>"keywords"}
  %meta{:content=>"Share the dream of medieval war.", :name=>"description"}
  %script{:type=>"text/javascript", :src=>"javascript/jquery-1.4.2.min.js"}
  %script{:type=>"text/javascript", :src=>"javascript/application.js"}
  -# %link{:rel=>"stylesheet", :href=>"blueprint/screen.css", :type=>"text/css", :media=>"screen"}
  %link{:rel=>"stylesheet", :href=>"screen.css", :type=>"text/css", :media=>"screen"}
  %link{:href=>'http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC', :rel=>'stylesheet', :type=>'text/css'}
  %link{:href=>'http://fonts.googleapis.com/css?family=Caudex', :rel=>'stylesheet', :type=>'text/css'}
%body
  .container
    #banner
      %h1 War is not Hell!
      %h3.tagline Share the dream of the SCA!
    .signup_form
      %h4 
        We struggle against the Darkness to bring you the Light!
        :erb
          <a href="https://tammersaleh.wufoo.com/forms/r7x3s5/" onclick="window.open(this.href,  null, 'height=242, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Be the first to join War is not Hell!">Join us in battle!</a>
      %img{:src=>"/images/warisnothell/divider-2.png"}
    .column
      %p
        Dragonwatch, the Keepers of the Flame, welcome one and all to join us
        in celebrating the wonders of the SCA!
      %p
        Soon, my brothers, we will all share in the glory of War!  Soon, we
        will no longer hide medieval selves from the Mundane!
    .column
      %p 
        Join your friends and families!  Join your brothers and households!  
        :erb
          <a href="https://tammersaleh.wufoo.com/forms/r7x3s5/" onclick="window.open(this.href,  null, 'height=242, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="Be the first to join War is not Hell!">Join us all within the SCA!</a>
      %p 
        Let us band together to experience our dream and vanquish our foes!
    .footer
      &copy; 2011 
      %a{:href=>"http://tammersaleh.com"} Tammer Saleh
  :erb
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e542ceaf5a1f572b3000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    
