!!! 5
%head
  %title My Evacuation Plan

  %meta{:content=>"2012, end of days, world war III, rapture, apocalypse, earthquake, holocaust, nuclear, disaster, zombie, pandemic, survival plan, japan nuclear, keep my family safe, super virus", :name=>"keywords"}
  %meta{:content=>"Make a plan for when life hits the fan.  Share it with the ones you love.", :name=>"description"}
  %script{:type=>"text/javascript", :src=>"javascript/jquery-1.4.2.min.js"}
  %script{:type=>"text/javascript", :src=>"javascript/application.js"}
  %link{:rel=>"stylesheet", :href=>"blueprint/screen.css", :type=>"text/css", :media=>"screen"}
  %link{:rel=>"stylesheet", :href=>"screen.css", :type=>"text/css", :media=>"screen"}
  %link{:href=>'http://fonts.googleapis.com/css?family=Oswald', :rel=>'stylesheet', :type=>'text/css'}
  %link{:href=>'http://fonts.googleapis.com/css?family=Allerta+Stencil', :rel=>'stylesheet', :type=>'text/css'}
  %link{:href=>'http://fonts.googleapis.com/css?family=Just+Another+Hand', :rel=>'stylesheet', :type=>'text/css'}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-338217-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); 
      ga.type = 'text/javascript'; 
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%body
  .container
    .launching_soon
      %h2 We're working hard to launch as soon as possible!
    #banner
      %h1 My Evacuation Plan
      %h3.tagline 
        %p
          Make a plan for when life hits the fan.  Share it with the ones you love.
    .span-1
      &nbsp;
    #inner.span-22
      #middle
        %hr
        .span-22.last
          .main_description.span-11
            %p
              From <strong>Zombies</strong> to <strong>Pandemics</strong>, <strong>Aliens</strong> to <strong>Fukushima</strong> large scale disasters range from the fanciful to the frighteningly real.  
            %p
              MyEvacPlan.com lets you prepare for any sort of emergency, ensuring that you and your loved ones know where to meet when the sky starts falling.
          .span-11.last
            .signup_form
              :javascript
                var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
                document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));

              :javascript
                var q7x3p3 = new WufooForm();
                q7x3p3.initialize({
                  'userName':'tammersaleh', 
                  'formHash':'q7x3p3', 
                  'autoResize':true,
                  'height':'260'});
                q7x3p3.display();
      #features
        %hr
        #feature_map.feature.span-11
          .inner
            %h3.title
              Plan your escape.
            %p.description
              Know where you'll head when the sky starts falling.  We'll manage
              your maps, and help you keep track of your supplies and equipment.
        #feature_hardcopy.feature.span-11.last
          .inner
            %h3.title
              Hardcopies for the road.
            %p.description
              Get regularly updated and laminated printouts of your maps
              along with survival details and other information that you'll need
              when you're forced off the grid.
        #feature_discuss.feature.span-11
          .inner
            %h3.title
              Discuss tools and techniques.
            %p.description
              Find the best tools and learn the best survival techniques from
              experts.  Build your "get out of Dodge" bag from their recommendations.
        #feature_share.feature.span-11.last
          .inner
            %h3.title
              Share with the ones you love. 
            %p.description
              Invite family and friends to review your plans.  Keep everyone on
              the same page so you all know where you'll be when it's most
              important.
      #footer
        %hr
        &copy; 2011 
        Tammer Saleh
    .span-1.last
      &nbsp;
