!!! 5
%head
  %title Rails AntiPatterns

  %meta{:content=>"Ruby, Rails, AntiPatterns, Tammer Saleh, Chad Pytel, Thoughtbot, Shoulda", :name=>"keywords"}
  %meta{:content=>"Best Practice Ruby on Rails Refactoring.", :name=>"description"}
  -# %script{:type=>"text/javascript", :src=>"javascript/jquery-1.4.2.min.js"}
  %script{:type=>"text/javascript", :src=>"javascript/application.js"}
  %link{:rel=>"stylesheet", :href=>"blueprint/screen.css", :type=>"text/css", :media=>"screen"}
  %link{:rel=>"stylesheet", :href=>"screen.css", :type=>"text/css", :media=>"screen"}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Oswald', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Allerta+Stencil', :rel=>'stylesheet', :type=>'text/css'}
  -# %link{:href=>'http://fonts.googleapis.com/css?family=Just+Another+Hand', :rel=>'stylesheet', :type=>'text/css'}
  -# :javascript
  -#   var _gaq = _gaq || [];
  -#   _gaq.push(['_setAccount', 'UA-338217-7']);
  -#   _gaq.push(['_trackPageview']);

  -#   (function() {
  -#     var ga = document.createElement('script'); 
  -#     ga.type = 'text/javascript'; 
  -#     ga.async = true;
  -#     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  -#     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  -#   })();
%body
  .container
    #banner.span-22.last
      %h1 
        Rails AntiPatterns:
        .tagline 
          Best Practice Ruby on Rails Refactoring
      .meta
        A book by 
        %span Tammer Saleh 
        and 
        %span Chad Pytel
        %hr
    .span-22
      .span-5
        %a{:href=>"http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
          %img#book{:src => "images/rails_antipatterns.jpg"}
      .main_description.span-17.last
        %a#buy_now{:href=>"http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
          .header
            Purchase on Amazon!
          .more (available in paperback and Kindle)
        %p
          Learn how to identify and fix over 300 of the most common mistakes made in Ruby
          on Rails applications.  Avoid those code pitfalls that reduce code quality, performance,
          stability, scalability, and maintainability.
        %p
          Far from being an academic textbook, each AntiPattern was pulled from
          real world applications that we have encountered and successfully refactored throughout
          our careers.

    #reviews.span-22
      %hr
      .span-11
        .quote
          %bq  It's nice to have guides like Chad and Tammer there to suggest improvements to my technique. Highly recommended for anyone novice or intermediate Rails developer.
          .citation
            %a{:href=>"http://www.amazon.com/review/RRGA273WHF85C/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Michael Doel
        .quote
          %bq I would recommend this book in a heart beat (and I already have... many, many times). Great job guys! I really appreciate the effort you put into writing this book! You have restored my faith in Rails authors!
          .citation
            %a{:href=>"http://www.amazon.com/review/R2X2NK2G1MPGRP/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Robert A. Phillips
        .quote
          %bq This book rules. There are so many good suggestions and I would say almost every Rails developer has encountered these messy situations before and scratched their head wondering what the best approach is to tackling it. 
          .citation
            %a{:href=>"http://www.amazon.com/review/R1Q60Y26R0WS9B/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              anorakcity
              
      .span-11.last
        .quote
          %bq The authors obviously have deep knowledge of and passion for Rails, and this translates well on the page.
          .citation
            Mike Riley, 
            %a{:href=>"http://drdobbs.com/article/print?articleId=229300218"}
              Dr Dobb's Journal
        .quote
          %bq Everything I read in the book I can apply to the projects I work on everyday. Whether you're new to Rails or an old hat, this book *will* help you write better Rails applications. Read it, think about it, and apply it.
          .citation
            %a{:href=>"http://www.amazon.com/review/R1OW9PDW171FV1/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Adam McCrea
        .quote 
          %bq I have a love affair with this book.  Every section of every chapter has given me practical refactoring advice, and for every section I find myself putting the book down in order to dig into my current project and apply what I'm learning about. 
          %bq 
          .citation
            %a{:href=>"http://www.amazon.com/review/R2B83FPB6IZAR5/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Katrina Owen
    #authors.span-22.last
      %hr
      #tammer_saleh.author.span-11
        .bio
          .span-3
            %img.avatar{ :src => "/images/tammer_avatar.jpg" }
          .span-8.last
            .name Tammer Saleh
            .title
              Director of Engineering at 
              %a{:href=>"http://engineyard.com"} Engine Yard
            %p
              Tammer is an experienced Ruby on Rails trainer and speaker with a
              history rooted in Systems Administration.  While working at
              thoughtbot, Tammer wrote the Shoulda testing framework, and the 
              %a{:href=>"http://hoptoadapp.com"} Hoptoad service. 
            %p
              Follow Tammer on 
              %a{:href=>"http://twitter.com/tsaleh"} twitter, 
              or read more about him at
              %a{:href=>"http://tammersaleh.com"} tammersaleh.com.
      #chad_pytel.author.span-11.last
        .bio
          .span-3
            %img.avatar{ :src => "/images/chad_avatar.jpg" }
          .span-8.last
            .name Chad Pytel
            .title 
              Founder and CEO of 
              %a{:href=>"http://thoughtbot.com"} thoughtbot:
            %p
              Chad's Ruby on Rails consultancy, thoughtbot, embraces
              both agile development methodologies and a “getting real” project
              philosophy. Chad has also coauthored 
              %em Pro Active Record: Databases with Ruby and Rails
              and has presented at various conferences around the world. 
            %p
              To read more of Chad and the rest of the
              thoughtbot team’s ideas on development, design, technology, and
              business, 
              %a{:href=>"http://robots.thoughtbot.com"} visit their blog!
    #footer
      %hr
      &copy; 2011 
      Tammer Saleh
