!!! 5
%head
  %title Rails AntiPatterns

  %meta{:content=>"Ruby, Rails, AntiPatterns, Training, Sinatra, Cloud, Web Applications, Tammer Saleh, Chad Pytel, Thoughtbot, Shoulda", :name=>"keywords"}
  %meta{:content=>"Best Practice Ruby on Rails Refactoring.", :name=>"description"}
  %script{:type=>"text/javascript", :src=>"javascript/application.js"}
  %link{:rel=>"stylesheet", :href=>"blueprint/screen.css", :type=>"text/css", :media=>"screen"}
  %link{:rel=>"stylesheet", :href=>"screen.css", :type=>"text/css", :media=>"screen"}
  /[if IE]
    %link{:rel=>"stylesheet", :href=>"blueprint/ie.css", :type=>"text/css", :media=>"screen"}
  
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-338217-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); 
      ga.type = 'text/javascript'; 
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%body
  .container
    .span-22
      .book
        %a{:href=>"http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
          %img#book{:src => "images/railsantipatterns/rails_antipatterns.jpg"}
      #banner
        %h1 
          Rails AntiPatterns:
          .tagline 
            Best Practice Ruby on Rails Refactoring
        .meta
          A book by 
          %span Tammer Saleh 
          and 
          %span Chad Pytel
      .main_description
        %p
          Learn how to identify and fix over 300 of the most common mistakes made in Ruby
          on Rails applications.  Avoid those code pitfalls that reduce code quality, performance,
          stability, scalability, and maintainability.
        %a#buy_now{:href=>"http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
          .header
            Purchase on Amazon!
          .more (available in paperback and Kindle)
        %p
          Far from being an academic textbook, each AntiPattern was pulled from
          real world applications that we have encountered and successfully refactored throughout
          our careers.

    #reviews.span-22
      %hr
      .span-11
        .quote 
          %bq <strong>I have a love affair with this book.</strong>  Every section of every chapter has given me practical refactoring advice, and for every section I find myself putting the book down in order to dig into my current project and apply what I'm learning about. 
          .citation
            %a{:href=>"http://www.amazon.com/review/R2B83FPB6IZAR5/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Katrina Owen
        .quote
          %bq <strong>I would recommend this book in a heart beat</strong> (and I already have... many, many times). Great job guys! I really appreciate the effort you put into writing this book! You have restored my faith in Rails authors!
          .citation
            %a{:href=>"http://www.amazon.com/review/R2X2NK2G1MPGRP/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Robert A. Phillips
        .quote
          %bq The authors obviously have <strong>deep knowledge of and passion for Rails</strong>, and this translates well on the page.
          .citation
            Mike Riley, 
            %a{:href=>"http://drdobbs.com/article/print?articleId=229300218"}
              Dr Dobb's Journal
      .span-11.last
        .quote
          %bq <strong>This book rules.</strong> There are so many good suggestions and I would say almost every Rails developer has encountered these messy situations before and scratched their head wondering what the best approach is to tackling it. 
          .citation
            %a{:href=>"http://www.amazon.com/review/R1Q60Y26R0WS9B/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              anorakcity
              
        .quote
          %bq Everything I read in the book I can apply to the projects I work on everyday. Whether you're new to Rails or an old hat, this book <strong>will help you write better Rails applications</strong>. Read it, think about it, and apply it.
          .citation
            %a{:href=>"http://www.amazon.com/review/R1OW9PDW171FV1/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Adam McCrea
        .quote
          %bq  It's nice to have guides like Chad and Tammer there to suggest improvements to my technique. <strong>Highly recommended for anyone novice or intermediate Rails developer</strong>.
          .citation
            %a{:href=>"http://www.amazon.com/review/RRGA273WHF85C/ref=cm_cr_pr_perm?ie=UTF8&ASIN=0321604814&nodeID=&tag=&linkCode="}
              Michael Doel
      .span-22.last
        .quote
          %bq I’ve been writing Rails code for a long time, and this book is embarrassing to read. ... Truly, <strong>this book has the goods on any number of things you’re doing wrong with your Rails app</strong>, and I would advise you to take seriously their advice.
          .citation
            %a{:href=>"http://7fff.com/2011/05/24/helpful-rails-book-rails-antipatterns-by-pytel-and-saleh/"}
              John G. Norman
        .quote
          %bq Rails AntiPatterns by Chad Pytel and Tammer Saleh is <strong>the single greatest rails book a beginner can read</strong>. Hats off to you guys. THANKS! Awesome!
          .citation
            %a{:href=>"https://twitter.com/#!/brandoncordell/status/109632320549560320"}
              Brandon Cordell

    #authors.span-22.last
      %hr
      #tammer_saleh.author.span-11
        .bio
          .span-3
            %img.avatar{ :src => "/images/railsantipatterns/tammer_avatar.jpg" }
          .span-8.last
            .name Tammer Saleh
            .title
              Director of Engineering at 
              %a{:href=>"http://engineyard.com"} Engine Yard
            %p
              Tammer is an experienced Ruby on Rails trainer and speaker with a
              history rooted in Systems Administration.  While working at
              thoughtbot, Tammer wrote the Shoulda testing framework, and the 
              %a{:href=>"http://hoptoadapp.com"} Hoptoad service. 
            %p
              Follow Tammer on 
              %a{:href=>"http://twitter.com/tsaleh"} twitter, 
              or read more about him at
              %a{:href=>"http://tammersaleh.com"} tammersaleh.com.
      #chad_pytel.author.span-11.last
        .bio
          .span-3
            %img.avatar{ :src => "/images/railsantipatterns/chad_avatar.jpg" }
          .span-8.last
            .name Chad Pytel
            .title 
              Founder and CEO of 
              %a{:href=>"http://thoughtbot.com"} thoughtbot:
            %p
              Chad's Ruby on Rails consultancy, thoughtbot, embraces
              both agile development methodologies and a “getting real” project
              philosophy. Chad has also coauthored 
              %em Pro Active Record: Databases with Ruby and Rails
              and has presented at various conferences around the world. 
            %p
              To read more of Chad and the rest of the
              thoughtbot team’s ideas on development, design, technology, and
              business, 
              %a{:href=>"http://robots.thoughtbot.com"} visit their blog!
    #footer
      %hr
      &copy; 2011 
      Tammer Saleh
