$background: #453625;
$paper: #E6DEAF;
$emboss_highlight: lighten($paper, 10%);
$title_highlight: rgb(142,11,0);
$book_color: #E71F2A;
// $callout_background: rgba(30, 30, 30, 0.6);
$callout_background: $background;
$hr_color: rgba(69,54,37,0.6);
$book_width: 220px;

@mixin shadow($x, $y, $distance, $base_color) {
  -moz-box-shadow:    $x $y $distance darken($base_color, 10%);
  -webkit-box-shadow: $x $y $distance darken($base_color, 10%);
  box-shadow:         $x $y $distance darken($base_color, 10%);
}

@mixin rounded($curve) {
  -moz-border-radius:    $curve;
  -webkit-border-radius: $curve;
  border-radius:         $curve;
}

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background: $background;
  * {
    text-shadow: 0px 1px 0px $emboss_highlight;
    color: $background;
  }
}

.container {
  margin: 10px auto;
  background: $paper;
  @include shadow(0, 0, 20px, $background);
  @include rounded(15px);
  > div {
    padding: 0 20px;
    margin:  0 20px;
  }
}

.last { margin-right: 0 !important; }

#banner { 
  padding-top: 30px;
  margin-left: $book_width + 20px;
  
  h1{
    text-align: left;
    font-family: Georgia;
    letter-spacing: 0.1em;
    color: $title_highlight;

    .tagline { font-size: 0.8em; }
  }
  .meta{
    font-family: Georgia;
    color: rgba(69,54,37,0.6);
    font-style: italic;
    letter-spacing: 0.10em;
  }
  border-bottom: 1px solid $hr_color;
}

#book { 
  @include shadow(0px, 0px, 10px, darken($paper, 50%));
  width: $book_width; 
  margin: 30px 20px 0 0;
  float: left;
}

.main_description {
  margin-top: 18px;
  p:first-line { font-weight: bold; }
  p {
    font-size: 1.1em;
    font-family: Georgia;
    letter-spacing: 0.1em;
  }
}

#buy_now {
  @include rounded(15px);
  float:right;
  background: $callout_background;
  font-family: Georgia;
  font-style: italic;
  border: 1px dashed darken($paper, 80%);
  margin-left: 10px;
  padding: 5px 10px;
  text-decoration: none;
  * { text-shadow: 0px 1px 0px black; }
  .header {
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
  }
  .more {
    color: yellow;
    text-align: center;
  }
}

#buy_now:hover { background: black; }

.container .wide {
  clear: both;
  padding: 0;
  margin-left: -40px;
  width: 1030px;
}

#authors {
  padding-top: 20px;
}

#authors {
  font-size: 75%;
  .avatar {
    @include rounded(10px);
    width: 100%;
    float: left;
    margin-right: 10px;
  }
  .name { 
    font-size: 1.5em;
    font-weight: bold; 
  }
  .title { 
    font-style: italic; 
    padding-bottom: 1em;
  }
}

#footer {
  text-align: right;
}

a {
  :hover { color: $background; }
  font-weight: bold;
  color: lighten($background, 10%);
}

hr { 
  clear: none;
  color: $hr_color; 
  background-color: $hr_color; 
}

#reviews {
  .quote {
    padding-bottom: 18px;
    bq {
      font-family: Georgia;
      font-style: italic;
    }
    bq:before { content: '\201C' };
    bq:after { content: '\201D' };
    .citation:before { content: "\2014" }
    .citation {
      // float: right;
      text-align: right;
      display: inline;
    }
  }
}

